PyQt5>=5.15.9
PyQt5-Qt5>=5.15.2
PyQt5-sip>=12.12.0
pip~=25.2
pathlib~=1.0.1
typing_extensions~=4.15.0
configparser~=7.2.0
filelock~=3.20.0
pillow~=12.0.0
typing_extensions~=4.15.0
numpy~=2.2.6
fitz~=0.0.1.dev2
lxml~=6.0.2
packaging~=25.0
charset-normalizer~=3.4.4
pytz~=2025.2
six~=1.17.0
certifi~=2025.10.5
urllib3~=2.5.0
idna~=3.11
simplejson~=3.20.2
requests~=2.32.5
pyparsing~=3.3.0a1